DATABASE_URL=postgresql+psycopg://market_user:market_pass@localhost:5432/market
RAW_CACHE_DIR=../data/raw
PARQUET_CACHE_DIR=../data/cache_parquet
MAX_DOWNLOAD_WORKERS=10
SYMBOL=EURUSD
PRICE_SCALE=100000
